{% extends 'szablon.html' %}
{% block tresc %}

    {% if user.is_authenticated %}
        <p><a href="{% url 'forum:new_post' %}" class="btn btn-info" role="button">Nowy post</a></p>
    {% else %}
        <a href="{% url 'users:loguj' %}" class="btn btn-info" role="button">Zaloguj</a>
    {% endif %}
    {% for post in posts %}
        <h1><a href="{% url 'forum:post' pk=post.pk %}">{{ post.title }}</a></h1>
        <h6>
            Autor: <a href="{% url 'users:index' user.id %}">{{ post.author }}</a> | {{ post.published_date }}
        </h6>
        <p>{{ post.description }}</p>
    {% endfor %}

{% endblock tresc %}
