{% extends 'szablon.html' %}
{% block naglowek %}
        {% if user.is_authenticated and user == answer.author%}
            <a href="{% url 'forum:edit_answer' pk=post.pk an=answer.id%}">Edytuj</a>
            <a href="{% url 'forum:delete_answer' pk=post.pk an=answer.id %}">Usun</a>
        {% endif %}
{% endblock naglowek %}
{% block tresc %}


        {% for answer in post.answers.all %}
            <table class="table">
            <tr class="info">
                <td><a href="{% url 'users:index' pk=answer.author.id %}">{{ answer.author }}</a></td>
            <td><strong>{{ answer.published_date }}</strong></td>
            </tr>
            <tr class="info">
            <td colspan="2">{{ answer.text|linebreaks }}</td>
            </tr></table>
        {% endfor %}

{% endblock tresc %}
