{% extends 'szablon.html' %}
{% load crispy_forms_filters %}
{% block naglowek %}Twoje konto: {% endblock naglowek %}
{% block tresc %}
    {% load crispy_forms_tags %}

    {% if user.is_authenticated %}
        <a href="{% url 'users:user_info' %}" class="btn btn-info" role="button">Zobacz dane</a>
    {% else %}
        <form action="." method="POST">
        <a href="{% url 'users:loguj' %}" class="btn btn-info" role="button">Zaloguj</a>
        </form>
    {% endif %}

{% endblock tresc %}
