{% extends 'szablon.html' %}
{% block naglowek %}Informacje{% endblock naglowek %}
{% block tresc %}

    {% if user.is_authenticated %}
        <h2>Edytuj dane: </h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Zapisz">
        </form>
    {% else %}
        <form action="." method="POST">
        <a href="{% url 'users:loguj' %}" class="btn btn-info" role="button">Zaloguj</a>
        </form>
    {% endif %}
{% endblock tresc %}