{% extends 'szablon.html' %}
{% block tresc %}

    {% if user.is_authenticated %}
        <h2>Edytuj dane: </h2>
        <form method="POST">
            {% csrf_token %}
                {{ user_form }}
                {{ profile_form }}
            <input type="submit" onclick="{% url 'users:index' pk=user.id%}" value="Zapisz" class="btn btn-info">
        </form>
    {% else %}
        <form action="." method="POST">
        <a href="{% url 'users:loguj' %}" class="btn btn-info" role="button">Zaloguj</a>
        </form>
    {% endif %}
{% endblock tresc %}